.button {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 40%) 100%,
      rgba(47, 48, 58, 40%) 100%
    ),
    url(../images/Background-mobile@1x.jpg);
  background-color: var(--second-background-color);
  background-size: cover;
  text-align: center;
  padding: 118px 0;

  &__description {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: var(--third-text-color);
    text-align: center;
    margin: 0;
    padding-bottom: 30px;
  }

  &__order {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.6px;
    background-color: var(--button-color);
    border-color: var(--button-color);
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    color: var(--third-text-color);
    cursor: pointer;
    padding: 10px 41px 10px 42px;
  }
}

@media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .button {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 40%) 100%,
        rgba(47, 48, 58, 40%) 100%
      ),
      url(../images/Background-mobile@2x.jpg);
    background-color: var(--second-background-color);
    background-size: cover;
    text-align: center;
    padding: 118px 0;
  }
}

// Tablet

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .button {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 40%) 100%,
        rgba(47, 48, 58, 40%) 100%
      ),
      url(../images/Background-tablet@1x.jpg);
    background-color: var(--second-background-color);
    background-size: cover;
    text-align: center;
    padding: 118px 0;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .button {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 40%) 100%,
          rgba(47, 48, 58, 40%) 100%
        ),
        url(../images/Background-tablet@2x.jpg);
      background-color: var(--second-background-color);
      background-size: cover;
      text-align: center;
      padding: 118px 0;
    }
  }
}

// Desktop

@media screen and (min-width: 1200px) {
  .button {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 40%) 100%,
        rgba(47, 48, 58, 40%) 100%
      ),
      url(../images/Background-desktop@1x.jpg);
    background-color: var(--second-background-color);
    text-align: center;
    padding: 200px 0;
  }

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .button {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 40%) 100%,
          rgba(47, 48, 58, 40%) 100%
        ),
        url(../images/Background-desktop@2x.jpg);
      background-color: var(--second-background-color);
      text-align: center;
      padding: 200px 0;
    }
  }
}
