.our-clients {
  display: block;

  &__title {
    font-family: Roboto;
    font-size: 28px;
    font-weight: 700;
    line-height: 1.17;
    text-align: center;
    color: var(--fifth-text-color);
    padding-bottom: 50px;
  }

  &__list {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    flex-basis: calc((100% - 30px) / 2);
    gap: 30px;
    align-items: center;
    list-style: none;
    list-style-type: none;
  }

  &__box {
    list-style-type: none;
  }
}

.client-logo {
  display: flex;
  justify-content: center;
  align-self: center;
  fill: #afb1b8;
}

.our-clients__box a {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid #afb1b8 1px;
  border-radius: 4px;
  width: 210px;
  height: 92px;

  &:hover {
    border: solid #2196f3 1px;
    border-radius: 4px;
    cursor: pointer;
    transition-property: border, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    & svg {
      fill: #2196f3;
      transition-property: fill, transform;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &:focus {
    border: solid #2196f3 1px;
    border-radius: 4px;
    cursor: pointer;
    transition-property: border, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    outline: none;

    & svg {
      fill: #2196f3;
      transition-property: fill, transform;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      outline: none;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .our-clients__box a {
    width: 226px;
    height: 92px;
  }
}

@media screen and (min-width: 1200px) {
  .our-clients {
    &__title {
      font-size: 36px;
      line-height: 1.16;
    }

    .our-clients__box a {
      width: 170px;
      height: 92px;
    }
  }
}
