body {
  font-family: "Roboto", "Raleway", sans-serif;
  color: var(--second-text-color);
  min-width: 320px;
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  body {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  body {
    width: 1600px;
  }
}
* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 480px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.photo-backgroung .container {
  padding-left: 0;
  padding-right: 0;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.ipsum_background .section {
  padding-bottom: 0px;
  margin-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lorem-box {
    max-width: 768px;
    display: flex;
  }

  .ipsum_background .section {
    padding-bottom: 0px;
    margin-bottom: 45px;
  }
}

@media screen and (min-width: 1200px) {
  .ipsum_background .section {
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
}

.photo-backgroung {
  display: none;
}

@media screen and (min-width: 1200px) {
  .photo-backgroung {
    display: block;
  }
}

.team-background {
  background-color: var(--background-colour);
}

// Footers boxes
.section_footer {
  background-color: var(--second-background-color);
}

.lower-line {
  padding-top: 60px;
  padding-bottom: 60px;
  display: block;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lower-line {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

.left_section {
  display: block;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-bottom: 60px;
}

.middle-column {
  display: block;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .middle-column {
    padding-left: 144px;
    padding-bottom: 102px;
  }
}

.right-section {
  display: block;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .lower-line {
    display: flex;
    align-items: baseline;
  }

  .left_section {
    display: block;
    align-items: left;
    justify-content: center;
    text-align: left;
    padding-bottom: 60px;
  }

  .middle-column {
    text-align: left;
    justify-content: center;
    align-items: left;
    padding-left: 70px;
  }

  .right-section {
    display: block;
    margin-left: 78px;
    justify-content: left;
    align-items: left;
    text-align: left;
  }
}

// End of footers boxes
