.lorem {
  background-color: var(--first-background-color);
  display: block;
  justify-content: center;
  padding-top: 30px;

  &__icon {
    list-style: none;
    padding-bottom: 30px;
  }

  &__icon--image {
    height: 120px;
    width: 450px;
    background-color: var(--background-colour);

    & svg {
      align-items: center;
      margin: auto;
    }
  }

  &__ipsum-main {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.3px;
    color: var(--first-text-color);
    display: block;
    list-style: none;
    text-align: center;
    padding-top: 30px;
  }

  &__ipsum-secondarry {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.3px;
    text-decoration: none;
    text-align: left;
    padding-top: 10px;
  }
}
