.lorem {
  background-color: var(--first-background-color);

  & ul {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    margin: 0;
  }

  & li {
    list-style: none;
  }

  &__ipsum-main {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.3px;
    color: var(--first-text-color);
    display: inline;
    list-style: none;
    text-align: center;
  }

  &__ipsum-secondarry {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.3px;
    text-decoration: none;
    text-align: left;
    padding-top: 10px;
  }
}
