.lorem {
  background-color: var(--first-background-color);
  display: block;
  justify-content: center;
  padding-bottom: 30px;

  &__icon {
    list-style: none;
    padding-bottom: 30px;
  }

  &__icon--image {
    background-color: var(--background-colour);
    display: flex;
    align-items: center;
    padding-left: 90px;
  }

  &__ipsum-main {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.3px;
    color: var(--first-text-color);
    display: block;
    list-style: none;
    text-align: center;
    padding-top: 30px;
  }

  &__ipsum-secondarry {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.3px;
    text-decoration: none;
    text-align: left;
    padding-top: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .lorem-box {
    display: flex;
  }

  .lorem {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    flex-basis: calc(100% / 2);
    gap: 30px;
    max-width: 354px;

    &__icon {
      list-style: none;
    }

    &__icon--image {
      background-color: var(--background-colour);
      display: flex;
      align-items: center;
      justify-content: center;
      max-height: 120px;
      padding-left: 42px;
      padding-right: 42px;

      & svg {
        max-width: 270px;
      }
    }
  }
}
