.modal {
  &__form-item {
    margin-bottom: 10px;
    position: relative;

    & input,
    label,
    textarea {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      display: block;
    }

    & label {
      font-size: 12px;
      line-height: 1.16;
      color: var(--second-text-color);
    }

    & input {
      width: 370px;
      height: 40px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      margin-top: 4px;
      padding-left: 40px;
    }

    & textarea {
      font-size: 12px;
      line-height: 1.16;
      height: 120px;
      width: 370px;
      resize: none;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      margin-top: 4px;
      padding: 12px 16px;

      &::placeholder {
        color: rgba(33, 33, 33, 0.5);
      }
    }

    &:focus-within svg {
      fill: #2196f3;
    }
  }

  &__title {
    display: flex;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
    letter-spacing: 0.3px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    color: var(--first-text-color);
  }
  &__form-list {
    margin: 12px 40px 40px;
    list-style: none;
  }

  &__icons {
    width: 18px;
    height: 18px;
    bottom: 9px;
    left: 12px;
    fill: #212121;
    position: absolute;
  }

  &__form-agreement {
    display: flex;
    margin: 20px 0px 30px 0px;
    align-items: center;

    & input {
      // margin-right: 8px;
      align-items: center;

      &:hover,
      :focus {
        cursor: pointer;
      }
    }
  }

  &__agreement {
    width: 16px;
    height: 15px;
    position: relative;
    border: 2px solid var(--first-text-color);
    border-radius: 3px;
    margin-right: 8px;

    &:hover,
    &:focus-within {
      border-color: #2196f3;
    }
  }

  &__agree-icon {
    position: relative;
    z-index: 100;
    width: 16px;
    height: 15px;
    border-radius: 3px;
    transform: translate(-13%, 150%);
    opacity: 0;
    fill: #ffffff;
  }

  &__agree-text {
    display: flex;
    font-size: 12px;
    line-height: 1.17;
    color: var(--second-text-color);
  }

  &__button {
    display: flex;
    justify-content: center;
  }

  &__button-send {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    color: var(--first-background-color);
    padding: 10px 76px;
    background-color: var(--button-color);
    border: #2196f3;
    border-radius: 4px;

    &:hover,
    &:focus {
      transition-property: box-shadow;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      cursor: pointer;
    }
  }

  &__link {
    display: flex;
    text-align: start;
    font-size: 12px;
    line-height: 1.17;
    color: var(--second-text-color);
    color: #2196f3;
    text-decoration: underline;
    padding-left: 5px;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
}

.space {
  padding-left: 5px;
}

.input-box:focus-within {
  outline: 1px solid #2196f3;
}

.checkbox {
  position: absolute;
  z-index: 200;
  width: 16px;
  height: 15px;
  appearance: none;

  &:focus {
    outline: none;
  }

  &:checked {
    + .modal__agree-icon {
      background-color: #2196f3;
      border: none;
      transform: translate(-12%, -14%);
      opacity: 1;
    }
  }
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
