/* Header - start */
header {
  border-bottom: 1px solid #ececec;
}

/* Web Studio */

.header {
  background-color: var(--first-background-color);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__logo {
    display: flex;
    align-items: center;
    text-align: left;
    padding-top: 16px;
    padding-bottom: 16px;

    &--up {
      font-family: Raleway;
      font-weight: 700;
      font-size: 24px;
      line-height: 1.16;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .header {
    &__logo {
      padding-top: 26px;
      padding-bottom: 26px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    &__logo {
      padding-top: 26px;
      padding-bottom: 26px;
    }
  }
}

.web {
  color: var(--fourth-text-color);
}

.studio-up {
  color: var(--fifth-text-color);
}

/* Navigation Links */

.nav {
  display: none;
  visibility: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .nav {
    display: flex;
    align-items: center;
    visibility: visible;
  }
}

@media screen and (min-width: 1200px) {
  .nav {
    display: flex;
    visibility: visible;
    align-items: center;
    margin-left: 93px;
  }
}

.nav {
  & ul {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.17;
    letter-spacing: 0.2px;
    word-spacing: 46px;
    display: flex;
  }

  &__list li {
    display: inline;
    text-decoration: none;
  }

  &__list li:nth-child(n + 2) {
    padding-left: 60px;
  }

  &__list a {
    text-decoration: none;
    position: relative;
    &:hover,
    &:focus {
      color: var(--fourth-text-color);
      transition-property: color, transform;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}

.agency,
.portfolio,
.contact {
  color: #000;
}

.active {
  color: #2196f3;
  &::after {
    content: "";
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background: var(--button-color);
    text-decoration: var(--fourth-text-color);
  }
}

/* Contact details */

.contact-details {
  display: none;
  visibility: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-details {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.2px;
    text-align: right;
    display: block;
    visibility: visible;
    align-items: center;
    padding: 21px 0px 21px 101px;
  }
}

@media screen and (min-width: 1200px) {
  .contact-details {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.3px;
    text-align: right;
    display: flex;
    visibility: visible;
    align-items: center;
    padding-left: 318px;

    &__email {
      margin-right: 50px;
    }
  }
}

.email-icon {
  width: 26px;
  height: 12px;
  fill: var(--second-text-color);
}

.tel-icon {
  width: 20px;
  height: 16px;
  padding-right: 10px;
  fill: var(--second-text-color);
}

@media screen and (min-width: 1200px) {
  .email-icon {
    padding-right: 10px;
  }

  .tel-icon {
    padding-right: 10px;
  }
}

.contact-details {
  & a {
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    & a:nth-child(1) {
      padding-bottom: 10px;
    }
  }

  &__email {
    color: var(--second-text-color);
    text-decoration: none;
    fill: var(--second-text-color);
    &:hover,
    &:focus {
      color: var(--fourth-text-color);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover svg,
    &:focus svg {
      fill: var(--fourth-text-color);
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &__tel {
    color: var(--second-text-color);
    text-decoration: none;
    &:hover,
    &:focus {
      color: var(--fourth-text-color);
      transition-property: color, transform;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    &:hover svg,
    &:focus svg {
      fill: var(--fourth-text-color);
      transition-property: color, transform;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
}
